<!DOCTYPE html>
<html>

    <head>
        <title>Symphony</title>
        <link rel="stylesheet" href="/static/styles.css">
        <style>
            body {
                width: 100% !important;
            }
        </style>
    </head>

    <body>
        <div class="title-heading">
            <a href="/"> <h1>Symphony</h1> </a>
            <h3>All your events, in one place.</h3>
            <br>
        </div>
        <h2>Login</h2>
        <hr class="under-header">
        <br>
    </body>      
</html>