<!DOCTYPE html>
<html>

    <head>
        <title>Symphony</title>
        <link rel="stylesheet" href="/static/styles.css">
        <style>
            body {
                width: 100% !important;
            }
        </style>
    </head>

    <body>
        <div class="title-heading">
            <a href="/"> <h1>Symphony</h1> </a>
            <h3>All your events, in one place.</h3>
            <br>
        </div>
        <h2>Create a new event</h2>
        <form name="newEvent" method="POST" action="/">    
            <h3>Your Name:</h3>
            <div class="input-field"> <input type="text" name="author" id="author"> </div>
            <h3>The Event:</h3> 
            <div class="input-field"> <input type="text" name="title" id="title"> </div>
            <h3>The Date:</h3> 
            <div class="input-field"> <input type="text" name="date" id="date"> </div>
            <h3>The Location:</h3> 
            <div class="input-field"> <input type="text" name="location" id="location"> </div>
            <h3>The Time:</h3> 
            <div class="input-field"> <input type="text" name="time" id="time"> </div>
            <h3>Describe The Event:</h3> 
            <div class="input-field"> <textarea rows="5" cols="50" name="description" id="description" placeholder="Provide a brief Description of your event!"> </textarea></div>
            <h3>Add some tags:</h3> 
            <div class="input-field"> <textarea rows="5" cols="50" name="tags" id="tags" placeholder="Provide a brief Description of your event!"> </textarea></div>
            <input type="submit">      
        </form>

    </body>      
</html>