<!DOCTYPE html>
<html>

    <head>
        <title>Symphony</title>
        <link rel="stylesheet" href="/static/styles.css">
        <style>
            body {
                width: 100% !important;
            }
        </style>
    </head>

    <body>
        <div class="title-heading">
            <a href="/"> <h1>Symphony</h1> </a>
            <h3>All your events, in one place.</h3>
            <br>
        </div>
        <h2>Create a new event</h2>
        <hr class="under-header">
        <br>
        <form name="newEvent" method="POST" action="/">

            <input name="author" id="author" type="text" class="ghost-input" placeholder="What is your name?" required>
            <input name="title" id="title" type="text" class="ghost-input" placeholder="What is your event called?" required>
            <input name="date" id="date" type="text" class="ghost-input" placeholder="When is your event?" required>
            <input name="time" id="time" type="text" class="ghost-input" placeholder="What time is your event?" required>
            <input name="location" id="location" type="text" class="ghost-input" placeholder="Where is your event?" required>

            <h3 class="textarea-label">Describe The Event:</h3> 
            <div class="input-textarea"> <textarea rows="5" cols="50" name="description" id="description" placeholder="Provide a brief Description of your event!"> </textarea></div>
            <h3 class="textarea-label">Add some tags:</h3> 
            <div class="input-textarea"> <textarea rows="5" cols="50" name="tags" id="tags" placeholder="Provide a brief Description of your event!"> </textarea></div>
            <input type="submit" class="ghost-button" value="Submit Event">
        </form>
    </body>      
</html>