<!DOCTYPE html>
<html>

    <head>
        <title>Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
        <style>
            body {
                width: 100% !important;
            }
        </style>
    </head>

    <body>
        <div class="title-heading">
            <a href="/"> <h1>Symphony</h1> </a>
            <h3>All your events, in one place.</h3>
            <br>
        </div>
        <h2>Register for Symphony</h2>
        <hr class="under-header">
        <br>
        <% if(errors){ %>
        <% var error; %>
        <% for (var i = 0; error = errors[i]; i++) { %>
            <div class="alert alert-danger" role="alert">
            <%= error %>
            </div>           
        <% }%>
        <% } %>
        <form name="register" method="POST" action="/register">

            <input name="name" id="name" type="text" class="ghost-input" placeholder="Name" required>
            <input name="email" id="email" type="email" class="ghost-input" placeholder="Email" required>
            <input name="username" id="username" type="text" class="ghost-input" placeholder="Username" required>
            <input name="password" id="password" type="password" class="ghost-input" placeholder="Password" required>
            <input name="password2" id="password2" type="password" class="ghost-input" placeholder="Confirm Password" required>

            <input type="submit" class="ghost-button" value="Register">
        </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>      
</html>