input{
    width: 100%;
}

.sidenav{
  height: 100%;
  width: 23%;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
}

/* Proof of concept editing Bootstrap Button Properties */
.btn-outline-primary{
    color: purple;
    border-color: purple;
}

.btn-outline-primary:hover{
    color: white;
    border-color: purple;
    background-color: purple;
}
.btn-outline-primary:active{
    background: purple;
}

#filter-dropdown{
    display: none;
}