@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

/*  ----- COLORS -----
    #2A2B72 - st. patrick's blue
    #2528C6 - persian blue
    #2E93EA - bleu de france
    #B4C5E4 - lightsteel blue
    #F9FDFF - ghost white
    ----- COLORS ----- */

body {
    background-color: #F9FDFF;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #2528C6;
    padding: 0px;
    margin: 0px;
    font-size: 75px;
    text-align: center;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-left: 5%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 2.2em;
    color: green;
}

h1:hover {
    color: #2E93EA;
}

h3 {
    font-family: 'Montserrat';
    color: #2E93EA;
    font-weight: 700;
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    text-decoration: none;
}

.event-box-container{    
    float: right;
    width: 75%;
    text-decoration: none;
}
.event-block{
    width: 100%;
    float: right;
    margin-right: 20px;
    display: block;
    text-decoration: none;
}

hr{
    width: 100%;
    float: right;
    margin-right: 20px;

}
.event-block:hover{
    width: 100%;
    float: right;
    margin-right: 20px;
    display: block;
    text-decoration: none;
}

.description {
    text-align: left;
    font-family: sans-serif;
    margin: 1em 0px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.timestamp{
    text-align: right;
    font-family: sans-serif;
    margin: 0em 0px;
    padding: 0px;
    float: right;
    color: lightslategray;
}

.event-block h4 {
    text-align: left;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 2.0em;
    font-style: bold;
    text-decoration: none;
    color: black;
}

.event-block h4:hover{
    text-align: left;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-style: bold;
    text-decoration: none;
    color: #2E93EA;
}

/* .event-block h4:active, .event-block:active {
    color: rgb(122, 187, 224);
} */

.event-block h5 {
    text-align: left;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    padding-top: 5px; 
    color: #2E93EA;
    text-decoration: none;
}
.author {
    text-align: left;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    padding-top: 5px; 
    color: lightslategray;
    display: inline-block;
}

.navbar{
    display: flex;
    width: 23%;
    float: left;
    height: 100vh;
    position: fixed;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.navbar input {
    background-color: #2E93EA;
    height: 75px;
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 20px;
    border-radius: 5px;
    border: 0px;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}

.navbar input.newButton:hover {
    background: #2528C6;
}

.location-tag {
    color: #2528C6;
    text-decoration: none;
}

/* source: */

.ghost-input {
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    font-weight: bold;
    width: 50%;
    font-size: 24px;
    border:0px;
    margin-bottom: 10px;
    color: #2528C6;
    background: #F9FDFF;
    font-family: sans-serif;
}

.ghost-input::placeholder {
    color: #2E93EA;
    font-weight: bold !important;
    font-family: 'Montserrat';
}

.ghost-button {
  background-color: #2E93EA;
  border:2px solid #2E93EA;
  border-radius: 5px;
  padding:10px 30px;
  margin: 0 5%;
  margin-top: 5%;
  width: 90%;
  min-width: 350px;
  font-family: Montserrat;
  color: white;
  font-size: 2em;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.textarea-label{
    text-align: left;
    margin: 0 5%;
    margin-top: 3.5%;
}
.input-textarea{
    margin-left: 5%;
}

.under-header{
    width: 92%;
}


